{% extends 'base.html' %} {% block title %} Регестрация {% endblock %} {% block
body %}
<form method="post" enctype="multipart/form-data">
  <div class="signup_panel">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="username"
      required
    />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
      required
    />
    <input type="file" id="icon" name="icon" accept="image/*" />
    <input type="submit" id="signup-submit" value="Создать аккаунт" />
    <a href="/">Назад</a>
  </div>
</form>
{% endblock %}
